.container {
background: linear-gradient(to bottom, #FBBC05 12%, #8C2800 95%);

}
.jumbotron{
  text-align: center;
  /*float: right;
  /border-radius: 100%;888*/
  background: linear-gradient(to bottom,#8C2800 12%, #8C2800 95%);
  font-size: 15px;
}
#jumbotron {
  font-size:15px;
}
img{
  margin-left: 200px
}
#radio-inline{
    font-size:15px;
}
